[user]
	name = Jorge Luis Calleja
	email = jorgelca1205@gmail.com
[core]
	editor = code --wait

[color]
    ui = true

[push]
    default = current

[alias]
    st = status -sb
    ci = commit
    co = checkout
    lg = log --graph --abbrev-commit --pretty=format:'%C(yellow)%h%Creset%Cred%d%Creset %Cgreen(%ai)%Creset %C(bold blue)%an%Creset%n%Creset%B' --stat

[credential]
    helper = cache --timeout=3600
